body
{ 
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
font-family: sans-serif;
background-color:#dbdad9; 
}
.loader
{
    position: relative;
    font-size: 2.5em;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5em;
    padding: 10px;
}
.loader span
{
    color: #fff;
    mix-blend-mode: difference;
}
.loader:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: #000;
    animation: animate 2.5s linear infinite;
}
@keyframes animate
{
    0%{
        left: 0;
    }
    50%{
        left: calc(100% - 80px);
    }
    100%
    {
        left:0;
    }
}